language: python
python:
  - "3.6"

os: linux
sudo: required

services:
  - docker

before_install:
  - cd docker
  - docker build -t openeo_udf .

install:
  - docker run --name "openeo-udf-server" -t openeo_udf
  - mkdir page
  - docker cp openeo-udf-server:/var/www/html/. ../page/
  
deploy:
  provider: pages
  github-token: $GITHUB_TOKEN
  local-dir: docker/page
  committer-from-gh: true
  keep-history: false
  on:
    branch: master
