language: python

python:
  - "3.6"

sudo: true

before_install:
  - sudo apt-add-repository ppa:ubuntugis/ubuntugis-unstable
  - sudo apt-get update
  - sudo apt-get install -y npm gdal-bin libgdal-dev
  - pip3 install -r requirements.txt
  - npm install -g spectacle-docs
  - rm -rf page
  - mkdir -p page

install:
  - python3 setup.py install
  - python3 setup.py test
  - python3 tests/test_doctests.py
  - cd docs
  - make html
  - cd ..
  - cp -r docs/_build/html/* page/.
  - run_udf_server --port 5000 --host 0.0.0.0
  - sleep 3
  - wget http://localhost:5000/api/v0/swagger.json -O page/openeo_udf.json
  - spectacle page/openeo_udf.json -t page/api_docs
  
deploy:
  provider: pages
  skip-cleanup: false
  github-token: $GITHUB_TOKEN
  local-dir: page
  committer-from-gh: true
  keep-history: false
  on:
    branch: master
