language: python
python:
  - "3.6"

os: linux
sudo: required

services:
  - docker

before_install:
  - cd docker
  - docker build -t openeo_udf .
  - cd -

install:
  - docker run --name "openeo-udf-server" -t openeo_udf
  - mkdir pages
  - docker cp openeo-udf-server:/var/www/html/. ./pages/

script: true

deploy:
  provider: pages
  github-token: $GITHUB_TOKEN
  local-dir: pages
  committer-from-gh: true
  keep-history: false
  on:
    branch: master
