# The requirements for GRASS GIS Python2 environment
http://download.pytorch.org/whl/cpu/torch-0.3.1-cp35-cp35m-linux_x86_64.whl
geopandas==0.3.0
Shapely==1.6.4.post1
pyproj==1.9.5.1
pandas==0.22.0
numpy==1.14.2
Pillow==5.0.0
ply==3.11
PyScaffold==3.0.2
PyYAML==3.12
scikit-learn==0.19.1
six==1.11.0
torch==0.3.1
torchvision==0.2.0
tensorflow
Sphinx==1.7.2
Flask==0.12.2
Flask-Cors==3.0.3
Flask-RESTful==0.3.6
flask-restful-swagger-2==0.35
rasterio==0.36.0

